.navbar-brand > img.logo {
  max-width: 115px;
}

#menu-toggle {
  font-size: 2.5rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h1.display-1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  p.lead-header, p.lead {
    font-size: 1.35rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  /* Navbar */
  .navbar-brand > img.logo {
    max-width: 150px;
  }

  #menu-toggle {
    font-size: 3rem;
  }
}
