/* Bootstrap theme overrides */
html, body, #__nuxt, #__layout, #app {
  height: 100%;
}

.mb-5 {
  margin-bottom: unset !important;
  padding-bottom: 10px;
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1400px;
  }

  .modal-xl {
    max-width: 1300px;
  }

}
