// All of your custom SCSS variables go first
$primary: #ffc0cb;
$light: #ffffff;
$dark: #0c120c;
$gray: #757575;
$darkGray: #333333;
// typography
$textHead: 'Inter',
sans-serif;
$textButton: 'IBM Plex Mono',
sans-serif;
$textNav: 'Inter',
sans-serif;
$textBody: 'Inter',
sans-serif;
// Navbar height
$navbarHeight: 75px;
@media (min-width: 768px) {
    $navbarHeight: 90px;
}