.btn {
    padding: .35rem 2rem;
    border: 1px solid black;
    background-color: transparent !important;
    transform: scale(1);
    transition: all 0.2s ease;
    outline: none;
    -webkit-outline: none;
    -moz-outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadows: none;
}

.btn-like {
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s ease;
}

.btn-like:hover {
    transform: scale(0.99);
    transition: all 0.2s ease;
}

.btn:hover {
    transform: scale(0.99);
    transition: all 0.2s ease;
    border: 1px solid black;
}

.btn-sm {
    padding: 0.25rem 1.25rem;
    font-size: 1.1rem;
}

.btn-lg {
    padding: .65rem 2rem;
}