.btn {
    padding: .35rem 2rem;
    border: 2px solid black;
    background-color: transparent !important;
    transition: all 0.2s ease;
    outline: none !important;
    -webkit-outline: none !important;
    -moz-outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadows: none !important;
}

.btn:active {
    border: 2px solid black !important;
    outline: none !important;
    -webkit-outline: none !important;
    -moz-outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadows: none !important;
}

.btn-like {
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-like:hover {
    transition: all 0.2s ease;
}

.btn:hover {
    transition: all 0.2s ease;
    border: 2px solid white !important;
    color: white !important;
}

.btn-sm {
    padding: 0.25rem 1.25rem;
    font-size: 1.1rem;
}

.btn-lg {
    padding: .65rem 2rem;
}