/* Guide and Tutorial items (card-img-middle) */
.card-img-middle .card-img {
  height: 15vw;
  object-fit: cover;
}

.instagram-card .card-img-top {
  height: 15vw;
  object-fit: cover;
}

.news-card .card-img-top {
  height: 15vw;
  object-fit: cover;
}
