/* Guide and Tutorial items (card-img-middle) */
.card-img-middle .card-img {
  height: 15vw;
  min-height: 225px;
  object-fit: cover;
}

// Gallery card
.card-overflow > .card-body {
  max-height: 250px;
  overflow-y: scroll;
}

.card-overflow > .card-body::-webkit-scrollbar {
  background: $light;
  width: 2em;
  height: 0;
}

.card-overflow > .card-body::-webkit-scrollbar-thumb {
  height: .5em;
  border: 0.75em solid rgba(0, 0, 0, 0);  /* Transparent border together with `background-clip: padding-box` does the trick */
  background-clip: padding-box;
  -webkit-border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 0 .5px rgba(0, 0, 0, 0.025);

}

.card-overflow > .card-img {
  height: 230px;
  width: 100%;
  object-fit: cover;
}

// Instagram card
.instagram-card .card-img-top {
  height: 15vw;
  min-height: 225px;
  object-fit: cover;
}

// News card
.news-card .card-img {
  height: 15vw;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

// Calendar cards
