.dropdown-menu {
    background-color: $primary;
    border: 1px solid $dark;
    border-radius: 0;
    margin-top: -1px;
    border-top: 2px solid $primary !important;
}

.navbar-nav .nav-item {
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// .dropdown-menu li {
//     line-height: 1.5 !important;
// }
.dropdown:hover>ul,
.dropdown ul:hover {
    display: block !important;
}

.dropdown-menu:hover {
    display: block !important;
}

.dropdown-item {
    padding: 1rem 1.5rem;
    background-color: $primary;
    font-family: $textNav;
    font-size: 1.1rem;
    color: $dark;
}

.dropdown-item:hover {
    background-color: #e6a2ad !important;
}