@import '~/assets/css/variables.scss';

  /* Set scrolling to smooth and use nav height as offset */
  html {
    scroll-padding: 109px 0 0 0;
    scroll-behavior: smooth;
  }

.sidebar {
  padding: 3rem;
  border-right: 1px solid $primary;
  border-bottom: 1px solid $primary;
}

@media (min-width: 992px) {
  .sidebar {
    border-right: none;
    border-bottom: none;
  }
}
